@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .highlighter {
    background-image: linear-gradient(#F8FA5B 0 100%);
    background-position: 0 calc(100%);
    background-size: 0 14px;
    background-repeat: no-repeat;
    transition: background-size 0.6s;
  }
  .group:hover .highlighter {
    background-size: 100% 14px;
  }
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; */

  font-family: Arial, sans-serif;
  font-weight: 400;
  
  color: #000d10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}